body {
	font-family : Ubuntu, Helvetica, sans-serif;
}
pre {
	font-family : Ubuntu, Menlo, monospace;
}
.tweetContainer {
	background-color : #00A0D1
}
.row:first-child {
	height: 45px;
}

.center {
	text-align: center;
}

pre.prettyprinted {
	overflow-x: scroll;
	white-space: pre;
	word-wrap: normal;
}

#stackContainer blockquote {
	word-break: break-word;
}
