<blockquote>
	<p><%= text %></p>
	<% screenname = retweet ? retweeted_status.user.screen_name : "soldiermoth" %>
	<small>
		<a href="//twitter.com/<%- this.screenname %>" target="_blank">@<%- this.screenname %></a><br/>
		<% if(retweet){ %>
			<i class="icon-retweet"></i> Retweeted by
			<a href="//twitter.com/soldiermoth" target="_blank">@soldiermoth</a>
		<% } %>
	</small>
</blockquote>
<a href="//twitter.com/<%- screenname %>/status/<%- id_str %>" target="_blank">
	<i class="icon-share-alt"></i>
	Link to Tweet
</a>
