{% raw %}
<div ng-controller="GithubCtrl" class="social-column">
	<div class="panel panel-default" ng-repeat="event in events">
		<div class="panel-heading">
			<a ng-show="event.payload.gist" href="{{event.payload.gist.html_url}}">Gist: {{event.payload.gist.id}}</a>
			<a ng-hide="event.payload.gist" href="https://github.com/{{event.repo.name}}">{{event.repo.name}}</a>
		</div>
		<div class="panel-body" ng-switch="event.type">
			<div ng-switch-when="WatchEvent">Watched</div>
			<div ng-switch-when="CreateEvent">Created</div>
			<div ng-switch-when="IssueCommentEvent">
				Commented on Issue:
				<a href="{{event.payload.issue.html_url}}">{{event.payload.issue.title}}</a>
				<hr/>
				<p>{{event.payload.comment.body}}</p>
			</div>
			<div ng-switch-when="PullRequestEvent">
				{{capitalize(event.payload.action)}} Pull Request:
				<a href="{{event.payload.pull_request.html_url}}">{{event.payload.pull_request.title}}</a>
				<hr/>
				<p>{{event.payload.pull_request.body}}</p>
			</div>
			<div ng-switch-when="PushEvent">
				Pushed Commits:
				<ul class="media-list">
					<hr/>
					<li class="media" ng-repeat="commit in event.payload.commits">
						<h5 class="media-heading">Sha: {{commit.sha}}</h5>
						<div class="media-body">
							<blockquote>
								<p>{{commit.message}}</p>
								<small>by {{commit.author.name}}</small>
							</blockquote>
						</div>
						<hr/>
					</li>
				</ul>
			</div>
			<div ng-switch-when="GollumEvent">Wiki Updated</div>
			<div ng-switch-when="ForkEvent">
				Forked to:
				<a href="{{event.payload.forkee.html_url}}">{{event.payload.forkee.full_name}}</a>
			</div>
			<div ng-switch-when="PullRequestReviewCommentEvent">
				Commented on Pull Request:
				<hr/>
				<p>{{event.payload.comment.body}}</p>
			</div>
			<div ng-switch-when="IssuesEvent">
				{{capitalize(event.payload.action)}} Issue:
				<a href="{{event.payload.issue.html_url}}">{{event.payload.issue.title}}</a>
				<hr/>
				<p>{{event.payload.issue.body}}</p>
			</div>
			<div ng-switch-when="GistEvent">
				{{capitalize(event.payload.action)}} Gist
				<p>{{event.payload.gist.description}}</p>
			</div>
			<div ng-switch-default><pre>{{event | json}}</pre></div>
		</div>
	</div>
	<button type="button" class="btn btn-block btn-primary" ng-click="fetchMore()">Load More</button>
</div>
{% endraw %}
